<html>
<body>
<H1>Hello Static Content</H1>
<p>This sample demonstrates how to server static content with nginx, and
dynamic content with silex.</p>

<p>Your ip address is {{ ip }}.</p>
</body>
</html>
